<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/home" method="POST">
        <label for="verde">Imposta durata verde:</label>
        <input type="number" id="verde" name="action-verde" value="verde"/>
        <label for="verde">Imposta durata giallo:</label>
        <input type="number" id="verde" name="action-giallo"/>
        <label for="verde">Imposta durata rosso:</label>
        <input type="number" id="verde" name="action-rosso"/>
        <input type="submit" value="Salva" name="action-salvataggio"/>
        <input type="submit" value="Spegni semaforo" name="action-spegnimento"/>
        <input type="submit" value="Riattiva semaforo" name="action-attivazione"/>
        <input type="submit" value="logout" name="action-logout"/>
    </form>
</body>
</html>