<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create-account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>


    <form action="/create_account" method="POST">
        <h3>Create-account Here</h3>

        <label for="username">Username</label>
        <input type="email" placeholder="Email" id="e-mail" name="username" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>

        <button type="submit">Create</button>

        <div class="social">
            <div class="go"><i class="fab fa-google"></i> Google</div>
            <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
        </div>

    </form>
</body>
<script>
    const error = "{{ error | safe }}";
    if (error) {
        alert(error);
    }
</script>
</html>
