<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comandi</title>
    <link rel="stylesheet" href="../static/styleComand.css">
</head>
<body>
    <h1>COMANDI ALPHABOT</h1>
    <form action="/movement" method="POST">
        <input type="submit" value="avanti" name="action1" />
        <input type="submit" value="sinistra" name="action4" />
        <input type="submit" value="stop" name="action5" />
        <input type="submit" value="destra" name="action3" />
        <input type="submit" value="indietro" name="action2" />
        <input type="submit" value="log-out" name="action6" />
    </form>
</body>
</html>
